.card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}
.card__img {
  width: 360px;
  height: 201px;
  border-radius: 6px;
  object-fit: cover;
}
.card__btn {
  display: none;
  position: absolute;
  border: none;
  top: 14px;
  right: 14px;
  padding: 0;
}
.card__btn:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.2s;
}
.card__btn-delete {
  width: 21px;
  height: 21px;
  background: url(../../images/delete.svg) center no-repeat;
}
.card__btn-like_active {
  display: flex;
  width: 21px;
  height: 21px;
  background: url(../../images/active.svg) center no-repeat;
}
.card__btn-like_inactive {
  width: 72px;
  height: 21px;
  border-radius: 30px;
  background: #313131 url(../../images/inactive.svg) center no-repeat;
}
.card:hover .card__btn {
  display: flex;
  transition: opacity 0.3s, transform 0.2s;
}
.card__info {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}
.card__title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.card__duration {
  padding: 3px 4px;
  margin: 0;
  color: #8B8B8B;
  font-size: 11px;
  font-weight: 400;
  line-height: 90.909%;
  border-radius: 3px;
  background: #2F2F2F;
}
@media screen and (max-width: 768px) {
  .card__img {
    width: 339px;
    height: 190px;
  }
  .card__info {
    padding: 0;
  }
}

@media screen and (max-width: 480px) {
  .card__img {
    width: 300px;
    height: 268px;
  }
}