.card {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}
.card__img {
  width: auto;
  max-height: 201px;
  border-radius: 6px;
  object-fit: cover;
}
.card-btn {
  display: none;
  position: absolute;
  border: none;
  top: 14px;
  right: 14px;
  padding: 0;
}
.card-btn:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.2s;
}
.card-btn_delete {
  width: 21px;
  height: 21px;
  background: url(../../images/delete.svg) center no-repeat;
}
.card-btn_active {
  width: 21px;
  height: 21px;
  background: url(../../images/active.svg) center no-repeat;
}
.card-btn_inactive {
  width: 72px;
  height: 21px;
  border-radius: 30px;
  background: #313131 url(../../images/inactive.svg) center no-repeat;
}
.card:hover .card-btn {
  display: flex;
  transition: opacity 0.3s, transform 0.2s;
}
.card__info {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 14px;
}
.card__title {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  height: 75px;
}
.card__duration {
  width: 52px;
  display: flex;
  height: 18px;
  padding: 0;
  margin: 0;
  color: #8B8B8B;
  font-size: 11px;
  font-weight: 400;
  line-height: 90.909%;
  border-radius: 3px;
  background: #2F2F2F;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .card {
    gap: 25px;
  }
  .card__info {
    padding: 0;
  }
  .card__img {
    max-height: 190px;
  }
}

@media screen and (max-width: 480px) {
  .card {
    gap: 16px;
  }
  .card__img {
    height: 168px;
  }
  .card__title { 
    height: 54px;
  }
}