.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto 0;
}
.form__link {
  display: flex;
}
.form__link:hover {
  opacity: 0.6;
  transition: opacity 0.3s, transform 0.2s;
}
.form__title {
  margin: 0;
  padding: 40px 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 396px;
}
.form__input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__input-title {
  margin: 0;
  padding: 0;
  color: #8b8b8b;
  font-size: 10px;
  font-weight: 400;
}
.form__field {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background: #2f2f2f;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}
.form__field:focus {
  outline: none;
}
.form__field_error {
  color: #ee3465;
}
.form__error {
  display: none;
  padding: 0;
  margin: 0;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
}
.form__error_display {
  display: flex;
}
.form__submit-btn {
  padding: 13px 0;
  border: none;
  border-radius: 3px;
  background: #4285f4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
.form__submit-btn:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.2s;
}
.form__text {
  padding: 16px 0 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
}
.form__link-text {
  text-decoration: none;
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
}
.form__link-text:hover {
  opacity: 0.6;
  transition: opacity 0.3s, transform 0.2s;
}

@media screen and (max-width: 480px) {
  .form {
    padding: 56px 30px 30px;
    display: block;
  }
  .form__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .form__title {
    padding: 50px 0 80px;
  }
  .form__submit-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 29px;
  }
  .form__text {
    position: absolute;
    bottom: 0;
  }
}