.techs {
  background-color: #272727;;
  padding: 100px 70px;
}
.techs__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techs__title {
  margin: 0;
  padding: 90px 0 26px;
  font-size: 50px;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
}
.techs__description {
  margin: 0;
  padding: 0;
  max-width: 460px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 142.857%;
  letter-spacing: -0.56px;
}
.techs__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  gap: 10px;
  justify-content: center;
  margin: 100px 0 0;
  padding: 0;
  width: 100%;
}
.techs__list-item {
  background-color: rgba(48, 48, 48, 1);
  border-radius: 10px;
  text-align: center;
  margin: 0;
  padding: 21px 0;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 768px) {
  .techs {
    padding: 90px 60px;
  }
  .techs__title {
    padding: 80px 0 22px;
  }
  .techs__description {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.48px;
  }
  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    margin: 83px 0 90px;
  }
  .techs__list-item {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 480px) {
  .techs {
    padding: 70px 18px;
  }
  .techs__title {
    padding: 60px 0 24px;
    font-size: 30px;
  }
  .techs__description {
    font-size: 11px;
    line-height: 145.455%;
    letter-spacing: -0.44px;
  }
  .techs__list {
    margin: 50px 0 70px;
    max-width: 200px;
  }
}