.about-me {
  padding: 115px 70px 100px;
}
.about-me__profile {
  padding: 66px 0 0;
  display: flex;
  justify-content: space-between;
}
.about-me__info {
  padding: 0 50px 0 0;
}
.about-me__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  margin: 0;
  padding: 0 0 18px;
}
.about-me__job {
  font-size: 18px;
  font-weight: 500;
  line-height: 111.111%;
  margin: 0;
  padding: 0;
}
.about-me__description {
  max-width: 600px;
  margin: 0;
  padding: 26px 0 99px;
  font-size: 14px;
  font-weight: 400;
  line-height: 157.143%;
}
.about-me__info-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
.about-me__info-link:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.2s;
}
.about-me__avatar {
  max-width: 270px;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }
  .about-me__name {
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1.6px;
    padding: 0 0 16px;
  }
  .about-me__job {
    font-size: 12px;
    line-height: 150%;
  }
  .about-me__description {
    margin: 0;
    padding: 20px 0 87px;
    font-size: 12px;
    line-height: 150%;
  }
  .about-me__avatar {
    max-width: 255px;
  }
}

@media screen and (max-width: 600px) {
  .about-me {
    padding: 70px 14px;
  }
  .about-me__profile {
    padding: 60px 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
  }
  .about-me__avatar {
    width: 292px;
  }
  .about-me__name {
    font-size: 30px;
    padding: 0 0 20px;
  }
  .about-me__job {
    font-size: 11px;
    line-height: 145.455%;
  }
  .about-me__description {
    margin: 0;
    padding: 20px 0 40px;
    font-size: 11px;
    line-height: 145.455%;
  }
}